<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div>
                <img src="img/cardpayment.png" alt="cardpay" class='img-center' width="100%" />
                <div class="table">
                    <div class="form-group">
                        <tr>
                            <td> Card type</td>
                            <select>
                            <option></option>
                            <option>Debit Card </option>
                            <option>Maestro Card </option>
                            <option>Credit Card </option>
                            <option>Master Card </option>
                            <option>Visa</option>
                        </select>
                        </tr>
                    </div>
                    <div class="form- group>" <td> Name on card</td>
                        <input type="text" class="form-control" ng-model="paymentCtrl.paymentData.Cine" />

                        <div class="form- group>" <td> Card number</td>
                            <td> <input type="text" class="form-control" ng-model="paymentCtrl.paymentData.City" />
                            </td>

                            <td> CVV</td>
                            <td> <input type="text" class="form-control" ng-model="paymentCtrl.paymentData.City" />
                            </td>
                        </div>
                        <!--<input type="text" class="form-control" ng-model="paymentCtrl.paymentData.City" />-->
                        <td> Expiry date</td>
                        </table>
                    </div>

                    <input type="date" class="form-control" <button class="btn btn-success" ng-click=""></button>

                    <div class="col-md-8">
                        <button class="btn btn-primary" ng-click="paymentCtrl.Addpayment()">Pay Now</button>

                    </div>

                </div>


            </div>
        </div>
        <div class="col-md-6">
            <pre>
                {{paymentCtrl}}
            </pre>
            <table class="table">
                <tr>
                    <td colspan="2">
                        <h3><b>Order Summary</b></h3>
                        <p>{{seatbookingCtrl}}</p>
                    </td>
                </tr>
                <tr>
                    <td>Movie Name</td>
                    <td>{{runningmovieCtrl.title}}</td>
                </tr>
                <tr>
                    <td>Theatre Name</td>
                    <td>{{runningmovieCtrl.Theatre}}</td>
                </tr>
                <tr>
                    <td>Selected Seats</td>
                    <td> {{paymentCtrl.showSelectedSeats}}</td>
                </tr>
                <tr>
                    <td>Show Timings</td>
                    <td>{{seatbookingCtrl.book2pay.time}} </td>
                </tr>
                <tr>
                    <td>Schedule Date </td>
                    <td>{{seatbookingCtrl.book2pay.date}}
                    </td>
                </tr>
                <tr>
                    <td>Total Price</td>
                    <td>{{seatbookingCtrl.Total}}</td>
                </tr>
            </table>
        </div>
    </div>

</div>