<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div>
                <img src="img/cardpayment.png" alt="cardpay" class='img-center' width="100%" />
                <div class="table">
                    <span><div class="form-group">
                        <tr>
                            <td><b> Card Type</b></td>
                            <select>
                            <option></option>
                            <option>Debit Card </option>
                            <option>Maestro Card </option>
                            <option>Credit Card </option>
                            <option>Master Card </option>
                            <option>Visa</option>
                        </select>
                        </tr>
                    </div></span>
                    <div class="form- group>" <td><b> Name on Card</b></td>
                        <input type="text" class="form-control" />

                        <div class="form- group">
                            <td><b> Card number</b></td>
                            <td> <input type="text" maxlength="15" class="form-control" />
                            </td>

                            <td><b> CVV</b></td>
                            <td> <input type="text" maxlength="3" class="form-control" />

                            </td>
                        </div>
                        <!--<input type="text" class="form-control" ng-model="paymentCtrl.paymentData.City" />-->
                        <td><b> Expiry date</b></td>
                        </table>
                    </div>

                    <input type="date" class="form-control" <button class="btn btn-success" ng-click=""></button>

                    <div class="col-md-8">
                        <button class="btn btn-primary" ng-click="paymentCtrl.payNow()">Pay Now</button>

                    </div>

                </div>


            </div>
        </div>
        <div class="col-md-6">
            <p>
                {{paymentCtrl.bookdt}}
            </p>
            <table class="table" class="center-block label label-success">
                <tr>
                    <td colspan="2" class="center-block label label-info">
                        <h3><b>Order Summary</b></h3>
                        <p>{{seatbookingCtrl}}</p>
                    </td>
                </tr>
                <tr>
                    <td><b>Movie Name</b></td>
                    <td>{{runningmovieCtrl.title}}</td>
                </tr>
                <tr>
                    <td><b>Theatre Name</b></td>
                    <td>{{runningmovieCtrl.Theatre}}</td>
                </tr>
                <tr>
                    <td><b>Selected Seats</b></td>
                    <td> {{paymentCtrl.showSelectedSeats}}</td>
                </tr>
                <tr>
                    <td><b>Show Timings</b></td>
                    <td>{{seatbookingCtrl.book2pay.time}} </td>
                </tr>
                <tr>
                    <td><b>Schedule Date</b> </td>
                    <td>{{seatbookingCtrl.book2pay.date}}
                    </td>
                </tr>
                <tr>
                    <td><b>Total Price</b></td>
                    <td>{{seatbookingCtrl.Total}}</td>
                </tr>
            </table>
        </div>
    </div>

</div>