<div class="container">
  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <tr>
          <tr ng-repeat="p in mainCtrl.allMoviesData">

            <td>Title</td>
            <td>{{p.Title}}</td>
          </tr>
          <tr>
            <td>Poster</td>
            <td><img ng-src="{{p.Poster}}" /></td>
          </tr>
          <td>Year</td>
          <td>{{p.Year}}</td>
          <td>Director</td>
          <td>{{p.Director}}</td>
          <td>Genre</td>
          <td>{{p.Genre}}</td>
          <td>Actors</td>
          <td>{{p.Actors}}</td>
          <td> Language</td>
          <td>{{p.Language}}</td>
          <td>Writer</td>
          <td>{{p.Writer}}</td>
          <td>Plot</td>
          <td>{{p.Plot}}</td>
          <td>Country</td>
          <td>{{p.Country}}</td>

          <td>imdbRating</td>
          <td>{{p.imdbRating}}</td>
        </tr>
        <td>Runtime</td>
        <td>{{p.Runtime}}</td>
        </tr>
        </tr>













        <td>
          <button type="button" class="close" ng-click="MainController.deleteThing(p)">&times;</button>
        </td>
        </tr>
      </table>
    </div>

  </div>
</div>