<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well" style="font-size:10px;color:blue">
                <table class="table">
                    <tr>
                        <th colspan="10" class="text-center">GOLD-300</th>
                    </tr>
                    <tr>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="A1">A1</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="A2">A2</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="A3">A3</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="A4">A4</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="A5">A5</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="A6">A6</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="A7">A7</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="A8">A8</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="A9">A9</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="A10">A10</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="A11">A11</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="A12">A12</div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="B1">B1</div>
                        </td>

                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="B2">B2</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="B3">B3</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="B4">B4</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="B5">B5</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="B6">B6</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="B7">B7</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="B8">B8</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="B9">B9</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="B10">B10</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <font color="red">EXIT</font>
                        </td>

                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="C1">C1</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="C2">C2</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="C3">C3</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="C4">C4</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="C5">C5</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="C6">C6</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="C7">C7</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="C8">C8</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="C9">C9</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="C10">C10</div>
                        </td>
                        <td>
                            <font color="red">EXIT</font>
                        </td>
                    </tr>

                    <th colspan="10" class="text-center">SILVER-250</th>
                    <tr>
                        <td></td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="D1">D1</div>
                        </td>

                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="D2">D2</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="D3">D3</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="D4">D4</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="D5">D5</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="D6">D6</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="D7">D7</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="D8">D8</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="D9">D9</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="D10">D10</div>
                        </td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="M1">M1</div>
                        </td>

                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="M2">M2</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="M3">M3</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="M4">M4</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="M5">M5</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="M6">M6</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="M7">M7</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="M8">M8</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="M9">M9</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="M10">M10</div>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="F1">F1</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="F2">F2</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="F3">F3</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="F4">F4</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="F5">F5</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="F6">F6</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="F7">F7</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="F8">F8</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="F9">F9</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="F10">F10</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="F11">F11</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="F12">F12</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="G1">G1</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="G2">G2</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="G3">G3</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="G4">G4</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="G5">G5</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="G6">G6</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="G7">G7</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="G8">G8</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="G9">G9</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="G10">G10</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="G11">G11</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="G12">G12</div>
                        </td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="H1">H1</div>
                        </td>

                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="H2">H2</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="H3">H3</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="H4">H4</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="H5">H5</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="H6">H6</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="H7">H7</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="H8">H8</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="H9">H9</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="H10">H10</div>
                        </td>
                    </tr>
                    <tr>

                        <th colspan="10" class="text-center">PLATINIUM-200</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="i1">i1</div>
                        </td>

                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="I2">I2</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="I3">I3</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="I4">I4</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="I5">I5</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="I6">I6</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="I7">I7</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="I8">I8</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="I9">I9</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="I10">I10</div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="J1">J1</div>
                        </td>

                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="J2">J2</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="J3">J3</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="J4">J4</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="J5">J5</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="J6">J6</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="J7">J7</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="J8">J8</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="J9">J9</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="J10">J10</div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="K1">K1</div>
                        </td>

                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="K2">K2</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="K3">K3</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="K4">K4</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="K5">K5</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="K6">K6</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="K7">K7</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="K8">K8</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="K9">K9</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="K10">K10</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="rotate">
                            <font color="red">EXIT</font>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="L1">L1</div>
                        </td>

                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="L2">L2</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="L3">L3</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="L4">L4</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="L5">L5</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="L6">L6</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="L7">L7</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="L8">L8</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="L9">L9</div>
                        </td>
                        <td>
                            <div ng-click="seatbookingCtrl.sClick($event)" class="seatno" id="L10">L10</div>
                        </td>
                        <td class="rotate">
                            <font color="red">EXIT</font>
                        </td>
                    </tr>
                </table>
            </div>
            <!--   table with 20 row and 10 coloum    table>tr*20>td*10>   -->
        </div>
        <div class="col-md-4 ">
            <table class="table">
                <tr>
                    <td colspan="2">
                        <h3>Selected Seats</h3>
                        <p>{{seatbookingCtrl}}</p>
                    </td>
                </tr>
                <tr>
                    <td>Selected Seats</td>
                    <td> <span id="sSeats">{{seatbookingCtrl.showSelectedSeats}} </span></td>
                </tr>
                <tr>
                    <td>Show Timings</td>
                    <td><span>{{seatbookingCtrl.book2pay.time}}</span> </td>
                </tr>
                <tr>
                    <td>Schedule Date </td>
                    <td>{{seatbookingCtrl.book2pay.date}}
                    </td>
                </tr>
                <tr>
                    <td>Total Price</td>
                    <td>{{seatbookingCtrl.Total}}</td>
                </tr>
                <tr>
                    <td>Online Charge</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div>
                            <a href="/payment" class="btn btn-success" ng-click="paymentCtrl.Addpayment()">Payment</a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>